h3 Listing Details
.row
  .col-md-3
    table.table.table-striped
      tbody
        tr
          td Address: &nbsp; 
        tr
          td {{listing.addrString}}
        tr
          td Price: &nbsp; {{listing.price | currency}}
        tr
          td Number of Beds: &nbsp; {{listing.beds}}
        tr
          td Number of Baths: &nbsp; {{listing.baths}}
        tr
          td Square Footage: &nbsp; {{listing.sqft}} &nbsp; SQFT
        tr
          td Date Added: &nbsp; {{listing.createdAt | date: 'yyyy-MM-dd' }}
        tr
          td(ng-show='activeUser')
            button.modifyListing.btn-md.btn-warning(ng-click='edit(listing)') Edit Listing
            button.deleteListing.btn-md.btn-danger(ng-click='delete(listing)') Delete Listing
        tr
          td
            img#showPagePhoto(ng-src='{{listing.photo}}')
  .col-md-9
    #showPageMap
