h3 NEW NEIGHBORHOOD

.row
  .col-xs-2
    form(name='areaForm', novalidate)
      .form-group
        label(for='name') Neighborhood Name or Zip Code
        input.form-control#name(type='text', name='name', ng-model='area.name')
      .form-group
        button.btn.btn-success(type='submit', ng-click='create(area)') Create Neighborhood
  .col-xs-8
